@import url(//fonts.googleapis.com/css?family=Alef|Grand+Hotel|Oxygen+Mono);

body {
	background-color: beige;
	font-family: Alef, sans-serif;
	text-shadow: 1px 1px 1px silver;
}


h1 {
	/*font-family: "Grand Hotel", cursive;*/
	margin: 24px auto;
	padding: 0;
	font-size: 24pt;
	text-shadow: 1px 1px 1px #26697F;
	text-align: center;
}

.row {
	width: 94%;
}

@media only screen and (max-width: 767px) {
	.row {
		width: auto;
	}
}

.text-centered {
	text-align: center;
}

body.special .message {
	margin: 32px auto;
	font-size: 14pt;
}

pre, code {
	font-family: "Oxygen Mono", monospace;
	background: #ff9;
}

.top-bar {
	font-family: Arial, sans-serif;
	text-shadow: none;
	margin: 0 0 4px;
}

.contains-radio label {
	display: inline-block;
}

.contains-radio small {
	margin-top: 0;
}

.highlight {
	background-color: yellow;
}

.no-margin {
	margin: 0 !important;
}

.required:after {
	content: "*";
	color: red;
	font-weight: bold;
	margin-left: 1ex;
}

.button {
	text-shadow: 0 0 0;
}

.edit-button, .view-button {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-indent: -36000px;
}

.edit-button {
	background: url("../img/edit.png") no-repeat;
}

.view-button {
	background: url("../img/view.png") no-repeat;
}

.prefix, .postfix {
	cursor: default;
}

.ui-helper-hidden-accessible {
	display: none;
}

.ui-autocomplete {
	margin: 2px 0;
	padding: 2px;
	border-radius: 2px;
	border: 1px #b3b3b3 solid;
	background: #fafafa;
	list-style: none;
}

.ui-autocomplete li a {
	color: black;
}

.ui-state-highlight {
	color: red;
}

.ui-state-focus {
	background-color: lightgray;
	display: block;
}

.autocomplete-results {
	position: absolute;
	z-index: 2;
}

.relative {
	position: relative;
}

.edit-details {
	position: absolute;
	top: 0;
	right: 0;
	padding: 16px;
	text-align: center;
}

.edit-details p {
	margin: 0;
	font-size: 8pt;
}

.sheet p {
	margin: 2px 0;
}

.aerated, .row .aerated, .row .row .aerated {
	margin: 16px 0;
}

.aerated.centered, .row .aerated.centered, .row .row .aerated.centered {
	margin: 16px auto;
}